
/************ COLOR GLOBAL VARIABLES *************/
:root {
    --Light_Violet: rgba(191,95,255,1);
    --white: rgba(255, 255, 255, 1);
    --backgroundLoginColor: rgb(23,23,23,0.8);
    --fullwidth: 100%;
  }

  /*INSERT BACKGROUND IMAGE INTO THE BODY  */
body {
    background-image: url("../img/img_background/BG@3x.png");
      /* Full height */
    height: 100vh;
    font-family: 'Archivo';
  /* Center and scale the image nicely */
  background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */

}

.dark-mode {
    background-image: url("../img/img_background/foto3.jpg");
    /* background-size: cover; */
      /* Full height */
    /* height: 100vh; */
    background-color: black;
  /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */

}


/****************** LOGO STYLES *****************/
.logoContainer {
    display: flex;
    flex-direction: row;
    /* margin-top:25.24px; */
    margin-left:28px;
}


.logoRight {
    margin-top:34.75px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.logoLeft {
    margin-top:25.24px;
    display:flex;
    justify-content: center;
}

/* **************** LOGIN STYLES ****************/
.loginContainer {
    
    position: absolute;
    width: 462px;
    height: 702px;
    left: 878px;
    top: 178px;

    background: var(--backgroundLoginColor);
    background-blend-mode: overlay;
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

.loginContainer {display: flex; flex-direction: column; left: 61%; }
.titleSection {display: flex;flex-direction: column; height: 106px; align-items: center; justify-content: center;}
.loginOptionContainer {display: flex;flex-direction: column; height:265px; align-items:center;
justify-content: space-evenly; }

.inputsContainer {
    display: flex;
    flex-direction: column;
    width: var(--fullwidth);
    height: var(--fullwidth);
   align-items: center;
   /* height: 290px; */
   height: 331px;

}


section.titleSection > p.welcomeP {
    height: 60%;
    /* width: 100%; */
    width: var(--fullwidth);
    /* left: 64.44%; */
    /* right: 10.42%; */
    /* top: calc(50% - 27px/2 - 280.5px); */
    /* font-family: 'Archivo'; */

    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 15pt;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: var(--white);
    /* margin-bottom: 4px;
    margin-top:40px */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section.titleSection > p.logP {
    /* position: absolute; */
    /* width: 362px; */
    width: var(--fullwidth);
    /* height: 28px; */
    height: 40%;
    /* left: 928px;
    top: 253px; */

    /* font-family: 'Exo'; */
    font-family: 'Archivo', sans-serif;

    font-style: normal;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 12pt;

    line-height: 21.26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;

    color: #FFFFFF;

    /* height: 28px;
    left: 928px; */
    /* top: 253px; */
    /* margin-top:4px */


}
/* **************** LOGIN STYLES: INPUTS STYLES ****************/
/* *************************************************************/

.emailInput {
    
    /* position: relative; */
    height: 27px;
 
    top: calc(50% - 27px/2 - 280.5px);

    /* font-family: 'Exo'; */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 10.5pt;

    line-height: 130%;

    /* font-style: normal; */
    /* font-weight: 700; */
    /* font-size: 20px; */
    /* line-height: 27px; */
    /* identical to box height */
    text-align: left;
    color: #000000;
    border-radius: 4px;
    width: 362px;
    height: 47px;
    border-radius: 4px;
    margin-bottom: 16px;
    
}

.passwordInput {   
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 4px;
    width: 362px;
    height: 47px;
    border-radius: 4px;
    margin-left: 50px;
    margin-right: 50px;
}

.logInButton {
    width: 362px;
    height: 47px;
    border-radius: 6px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* background: #4CC986; */
    /* background-color:rgba(191, 95, 225, 1); */
    background-color: var(--Light_Violet);
    
    border-radius: 6px;
    margin-top: 24px;
}


.rememberMeli {
    /* color: rgba(255, 255, 255, 1); */
    color: var(--white);
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 10.5pt;

    line-height: 19px;
}

.forgotPasswordli {
    /* color: rgba(95, 225, 155, 1); */
    /* color:  rgba(191, 95, 225, 1); */
    color: var(--Light_Violet);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 10.5pt;

    line-height: 19px;
}

form.inputsContainer > ul.rememberMeUl {
    margin-top: 13px;
    width: var(--fullwidth);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

/* No register Yet Block */
form.inputsContainer > ul.notRegisterYetUl {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 32px;

}
.notRegisterYetLi {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 10.5pt;

    line-height: 19px;
    color: #FFFFFF;
    padding: 0.2em;
}

.registerNowLi {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 10.5pt;

    line-height: 19px;
    color: var(--Light_Violet);
    padding: 0.2em;
}

.lineSeparatorContainer {
    display:flex;
    flex-direction: row;
}

/******************* HRs and Or **********************/
.lineSeparatorContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 100%;
    /* align-items: center;
    align-content: center; */
}

div.lineSeparatorContainer > hr.lineSeparatorLeft {
    /* color: var(--white); */
    border-top: 1px solid rgb(255, 255, 255,0.4);
    width: 147.4px;
    /* left: 20px;  */
    top: 612.37109375px;
    border-radius: 0px;
    margin-left:48px;
}

div.lineSeparatorContainer > hr.lineSeparatorRight {
    /* color: var(--white); */
    border-top: 1px solid rgb(255, 255, 255,0.4);
    width: 147.4px;
    /* left: 928px; */
    top: 612.37109375px;
    border-radius: 0px;
    margin-right:48px;

}

div.lineSeparatorContainer > p {
    color:  rgb(255, 255, 255, 0.4);
    font-family: 'Open Sans';
    /* font-size: 14px; */
    font-size: 10.5pt;

    font-weight: 400;
    text-align: center;
}

/* ***************** LOGIN OPTIONS ACCOUNTS ******************/
/* *********************************************** */
.loginOptionContainer {
    display: flex;
    flex-direction: column; 
    height:277px;
    align-items:center;
    justify-content: space-evenly; 
}



.loginAccounts {
    border-style: solid;
    border-color: var(--white);
    width: 362px;
    height: 47px;
    border-width: 2px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.loginAccounts > p { 
    color: var(--white);
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    /* font-size: 18px; */
    font-size: 13.5pt;

    line-height: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px; 
    width: 45%;
}

div.loginAccounts > svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:  center;
    /* margin-right: 7px; */
    max-width: 20px;
    max-height: 20px;

}


